<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <main class="min-h-screen w-full bg-zinc-900 text-white">
            <a href="/" class="inline-block text-sm px-4 py-2 bg-indigo-700 hover:bg-indigo-800 m-10">Back to Home</a>
            <div class="px-10">
                <h1 class="text-4xl font-mono font-bold"><%= filename %></h1>
                <p class="text-lg text-gray-200 w-[50%]"><%= filedata %></p>
            </div>
        </main>
    </body>
</html>